@import './variables.css';
@import './search.css';
@import './menu.css';
@import './sesion.css';
@import './nav.css';

.header {
    background-color: var(--secondary-shadow-color);
    position: fixed;
    height: 100px;
    width: 100%;
}

/*.container {
    background-color: var(--primary-theme-background-color);
} */

.logo {
    position: fixed;
    height: 100px;
    width: 100%;
    top: 1.25rem;
    left: 10%;
    bottom: 80%;
}

.RR-SS {
    position: fixed;
    top: 3.6rem;
    left: 50%;
}

.RR-SS__link {
    background-color: var(--primary-theme-btn-color);
    height: 40px;
    width: 40px;
    border-radius: 10px;
}

@media (min-width: 612px) {
    
}