.starSesion {
    position: fixed;
    left: 76%;
    top: 0.3rem;
}

.starSesion__button {
    border-radius: 10px;
    transition: 0.25s, filter 0.25s;
}

.starSesion__button:hover {
    box-shadow: 0 0 0.125rem 0.125rem;
    filter: brightness(1);
}