:root {
    --primary-theme-background-color: rgb(109, 107, 107);
    --primary-font-family: 'Work Sans', sans-serif;
    --primary-theme-btn-color: white;
    --primary-color-search-btn: black;
    --primary-menu-color: rgb(53, 44, 44);
}